<!DOCTYPE html>
<html>
<head>
  <title>Modern Business - Start Bootstrap Template</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
  <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
  </script>
</head>
<body>
  <%= render :partial => 'layouts/header' %>

<%= yield %>

</body>
</html>
